<page-header [title]="'客服列表'">
</page-header>
<div nz-row nzGutter="16">
  <div nz-col nzXs="24" nzMd="24">
    <nz-card [nzBordered]="false">
      <button nz-button (click)="add(modalContent)" [nzType]="'primary'"  [acl]="'ss'">
        <i nz-icon type="plus"></i>
        <span>添加客服账号</span>
      </button>
      <st #st [page]="{showSize:true}" [columns]="columns" [data]="data" [loading]="loading" (checkboxChange)="checkboxChange($event)" (filterChange)="getData()">
        <ng-template st-row="status" let-i>
          <nz-badge [nzStatus]="i.statusType" [nzText]="i.statusText"></nz-badge>
        </ng-template>
      </st>
    </nz-card>
  </div>
</div>

<ng-template #modalContent>
  <nz-form-item>
    <nz-form-label nzFor="no">在这里可以添加客服</nz-form-label>
    <nz-form-control>
      <label>客服昵称</label>
      <input nz-input [(ngModel)]="username" name="username" placeholder="请输入客服昵称" id="no">
      <label>客服账号</label>
      <input nz-input [(ngModel)]="account" name="description" placeholder="请输入客服账号" id="no">
      <label>密码</label>
      <input nz-input [(ngModel)]="password" name="password" placeholder="请输入密码" id="no">
      <label>确认密码</label>
      <input nz-input [(ngModel)]="passwords" name="password" placeholder="请输入确认密码" id="no">
    </nz-form-control>
  </nz-form-item>
</ng-template>


<ng-template #modalContents>
  <nz-form-item>
    <nz-form-label nzFor="no">在这里可以添加客服</nz-form-label>
    <nz-form-control>
      <label>客服昵称</label>
      <input nz-input [(ngModel)]="username" name="username" placeholder="请输入客服昵称" id="no">
      <label>客服账号</label>
      <input nz-input [(ngModel)]="account" name="description" placeholder="请输入客服账号" id="no">
      <label>密码</label>
      <input nz-input [(ngModel)]="password" name="password" placeholder="请输入密码" id="no">
      <label>确认密码</label>
      <input nz-input [(ngModel)]="passwords" name="password" placeholder="请输入确认密码" id="no">
    </nz-form-control>
  </nz-form-item>
</ng-template>
