<div class="container">
  <div class="wrap">
    <div class="top">
      <div class="head">
        <img class="logo" src="./assets/logo-color.png">
        <span class="title">易可云</span>
      </div>
      <div class="desc">
        <h4 class="title">NEW!全新版本重磅来袭</h4>
        云端统一后台管理，将粉丝价值最大化，提升留存，积累更新300余次，安全、简洁、方便。
      </div>
    </div>
    <router-outlet></router-outlet>
    <global-footer [links]="links">
      Copyright
      <i class="anticon anticon-copyright"></i> 2018
      <a href="http://www.ecostudio.cn/" target="_blank">易可云</a>出品
    </global-footer>
  </div>
</div>
