<page-header [title]="'数据统计'">
  <nz-select style="width: 300px" [(ngModel)]="selectedValue">
    <nz-option *ngFor="let select of selectData" [nzLabel]="select.kfNickName" [nzValue]="select.kfId"></nz-option>
  </nz-select>
</page-header>
<div nz-row nzGutter="16">
  <div nz-col nzXs="24" nzMd="6">
    <nz-card [nzBordered]="false" [nzTitle]="a">
      <ng-template #a>
        <small class="text-sm font-weight-normal">总销售额
        </small>
      </ng-template>
      <span>{{totalSales}}</span>
    </nz-card>
  </div>
  <div nz-col nzXs="24" nzMd="6">
    <nz-card [nzTitle]="b" [nzBordered]="false">
      <ng-template #b>
        <small class="text-sm font-weight-normal">客服数量
        </small>
      </ng-template>
      <span>{{serviceNum}}</span>
    </nz-card>
  </div>
  <div nz-col nzXs="24" nzMd="6">
    <nz-card [nzBordered]="false" [nzTitle]="c">
      <ng-template #c>
        <small class="text-sm font-weight-normal">今日咨询人数
        </small>
      </ng-template>
      <span>{{consultNum}}</span>
    </nz-card>
  </div>
  <div nz-col nzXs="24" nzMd="6">
    <nz-card [nzBordered]="false" [nzTitle]="d">
      <ng-template #d>
        <small class="text-sm font-weight-normal">回复率
        </small>
      </ng-template>
      <span>{{reversionRate}}</span>
    </nz-card>
  </div>
</div>

<div nz-row nzGutter="16">
  <div nz-col nzXs="24" nzMd="24">
    <nz-card [nzBordered]="false" [nzTitle]="e">
      <ng-template #e>
        <small class="text-sm font-weight-normal">近30天日活统计</small>
      </ng-template>
      <g2-bar height="275" [data]="salesData"></g2-bar>
    </nz-card>
  </div>
</div>

<nz-card [nzLoading]="loading" [nzBordered]="false" class="ant-card__body-nopadding sales-card">
  <nz-tabset [nzTabBarExtraContent]="extraTemplate">
    <nz-tab [nzTitle]="'销售额'">
      <div nz-row>
        <div nz-col nzXs="24" nzSm="24" nzMd="12" nzLg="16">
          <div class="bar">
            <g2-bar height="295" [title]="'销售趋势'" [data]="datas.salesData"></g2-bar>
          </div>
        </div>
        <div nz-col nzXs="24" nzSm="24" nzMd="12" nzLg="8">
          <div class="rank">
            <h4 class="ranking-title">{{ '门店销售额排名'}}</h4>
            <ul class="rank-list">
              <li *ngFor="let i of rankingListData; let idx = index">
                <span class="number" [ngClass]="{'active': idx < 3}">{{idx+1}}</span>
                <span class="title">{{i.title}}sss{{idx+1}}</span>
                <span class="value">{{i.total | number: '3.0'}}</span>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </nz-tab>
    <nz-tab [nzTitle]="'客流量'">
      <div nz-row>
        <div nz-col nzXs="24" nzSm="24" nzMd="12" nzLg="16">
          <div class="bar">
            <g2-bar height="295" [title]="'销售趋势'" [data]="datas.salesData"></g2-bar>
          </div>
        </div>
        <div nz-col nzXs="24" nzSm="24" nzMd="12" nzLg="8">
          <div class="rank">
            <h4 class="ranking-title">{{ '门店销售额排名'}}</h4>
            <ul class="rank-list">
              <li *ngFor="let i of rankingListData; let idx = index">
                <span class="number" [ngClass]="{'active': idx < 3}">{{idx+1}}</span>
                <span class="title">{{i.title}}{{idx+1}}</span>
                <span class="value">{{i.total | number: '3.0'}}</span>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </nz-tab>
    <ng-template #extraTemplate>
      <div class="sales-extra-wrap">
        <div class="sales-extra">
          <a (click)="setDate('-today')">昨日</a>
          <a (click)="setDate('week')">本周</a>
          <a (click)="setDate('month')">本月</a>
          <a (click)="setDate('year')">本年</a>
        </div>
        <nz-range-picker [(ngModel)]="date_range" style="display:inline-block; width: 256px;"></nz-range-picker>
      </div>
    </ng-template>
  </nz-tabset>
</nz-card>
